/***
  This CSS will be included in WordCamp Europe 2026 every time
  you will make a repository commit and reload remote CSS from the website
  admin view (Appearance -> Remote CSS) or visiting
  https://europe.wordcamp.org/2026/wp-admin/admin-ajax.php?action=wcrcss_webhook
  https://europe.wordcamp.org/2026/ CSS will be synched with this file
 
  Development environment is on https://wceutest.wordcamp.org/2026 and also includes
  this remote CSS. Update CSS from the website admin view (Appearance -> Remote CSS)
  or visiting https://wceutest.wordcamp.org/2026/wp-admin/admin-ajax.php?action=wcrcss_webhook (ONLY FOR DEVELOPMENT)

  Don't use post IDs as selectors because they can change between development environment and production.
  Instead, use the slug; e.g. body.post-slug-call-for-volunteers, body.page-slug-accommodation or better,
  create a class and use it on the element because we can reuse these classes.
 
  CSS vars defined on website Theme (vars values can change during the development process):

  --wp--preset--color--custom-color-1: #05184d;
  --wp--preset--color--custom-color-2: #ff923d;
  --wp--preset--color--custom-color-3: #f92203;
  --wp--preset--color--custom-color-4: #234e8d;
  --wp--preset--color--custom-color-5: #75a8da;
  --wp--preset--color--custom-color-6: #346bec;
 
  --wp--preset--font-family--exquisans: Exquisans;
  --wp--preset--font-family--lato: Lato, sans-serif;

  Remote CSS seems to remove custom properties, so we only need them here as reference.

  --wp--style--global--content-size: 620px;
  --wp--style--global--wide-size: 1280px;

  //--width__blend-element: clamp( 40px, calc(-320px + 30vw), 400px ); screen size: 1200 - 2400
  //--height__blend-element: 100%;

  //--height__second-row: clamp( 60px, calc( 60px + 7.5vw ), 180px ); screen size: 0 - 1600
  //--height__third-row: clamp( 20px, calc( 20px + 2vw ), 40px ); screen size: 0 - 1000

  //--width__second-row-first-col: clamp( 200px, calc( 80px + 60vw ), 800px ); screen size: 200 - 1200

 Some custom properties for sizes, so we don't need to repeat the values.
 Most sizes use clamp() to have a min and max value, and a value that grows with the viewport width.
 The values in comments are the viewport width range where the value is applied.
 e.g 40px for 1200px screen, and 400px for 2400px screen. The inbetwen values are calculated by the browser.

---
***/

.wp-block-buttons .wp-block-button__link {
	padding-block: 0.6em 0.3em !important;
}

.hero-frame-bg {
	background-repeat: repeat-x !important;
	background-size: auto 80px !important;
}

.newsletter-banner{
	overflow:hidden;
}
@media screen and (max-width:1050px){
	.newsletter-show-wide{
		display:none!important;
	}
}
@media screen and (min-width:1050px){
	.newsletter-show-slim{
		display:none;
	}
}

/*
	START of the Organizers.
	For the usage with the (old) "Organizer list with bio (Organizers List)" block.
 */

 /* Display flex is needed, so we can easily change the order of name + avatar */

.wordcamp-organizers {
	padding-inline-start: 0; /* Remove default ul padding */
	display: flex;
	flex-direction: column;
}

.wordcamp-organizer {
	display: flex;
	flex-direction: column;
}

.wordcamp-organizer .wordcamp-image__avatar-container img {
	display: block /* Make sure the image is block-level and no invisible margin is applied */;
	width: 100% !important; /* Because we need to set a size on the avatar, we need to override it */
	height: auto !important;
	aspect-ratio: 1 / 1; /* Keep it square */
}

.wordcamp-organizer .wordcamp-organizers__title {
	margin-top: 0;
	order: 2; /* Show the name of the organizer after the avatar */
}

/* base styles for all images */
.wordcamp-organizers__title::before {
	content: '';
	display: block;
	width: 100%;
	height: clamp(20px, 4vw, 55px); /* 16% container width */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 18px; /* Space between the image and the title */
}

/* Blue image for the first element */
.wordcamp-post-list__post:first-child .wordcamp-organizers__title::before {
	background-image: url('https://europe.wordcamp.org/2026/files/2025/12/border-orange-2x.png');
}

/* Orange image for all other elements */
.wordcamp-post-list__post:not(:first-child) .wordcamp-organizers__title::before {
	background-image: url('https://europe.wordcamp.org/2026/files/2025/12/border-blue-2x.png');
}

.team-lead-organizers .wordcamp-post-list__post .wordcamp-organizers__title::before {
	background-image: url('https://europe.wordcamp.org/2026/files/2025/12/border-colors-trans-2x.png');
}
/* END of the Organizers */

/* Camptix block - tickets page */

.tix_tickets_table {
	border-spacing: 0;
	border-collapse: collapse;
}
.tix_tickets_table input[type="text"],
.tix_tickets_table input[type="url"],
.tix_tickets_table input[type="email"],
.tix_tickets_table select {
	font-size: 1em;
}

.tix_tickets_table textarea {
	font-size: 1em;
	height: 4em;
}

/* Home smartphone rules */
@media (max-width:767px) {
	/*-- responsive ticket table --*/
	.tix_tickets_table table,
	.tix_tickets_table thead,
	.tix_tickets_table tbody,
	.tix_tickets_table th,
	.tix_tickets_table td,
	.tix_tickets_table tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.tix_tickets_table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.tix_tickets_table td {
	/* Behave  like a "row" */
		border: 0;
		position: relative;
		padding-left: 50%;
	}

	.tix_tickets_table td:before {
	/* Now like a table header */
		position: absolute;
	/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.tix-column-remaining::before {
		content: "Remaining: "
	}
	.tix-column-quantity::before {
		content: "Quantity: "
	}

	.tix-tickets-list .tix-column-description {
		padding: 0 !important;
		border: 0;
		text-align: center !important;
	}

	.tix-js .tix_tickets_table tbody .tix-ticket-title,
	.tix-js .tix_tickets_table tbody .tix-column-description {
		font-weight: bold;
		display: block;
		width: auto;
		background: var( --wp--preset--color--custom-light-blue-primary );
		padding: 10px 20px;
	}

	.tix-js .tix_tickets_table .tix-column-description label + br {
		display: none;
	}

	.tix-js .tix_tickets_table tbody .tix-column-description {
		background: #fff;
		padding: 0;
	}

	.tix-js .tix_tickets_table .tix-ticket-excerpt {
		display: block;
		padding: 10px 20px;
		font-weight: normal;
	}

	/*-- responsive ticket form --*/
	.tix-ticket-form td.tix-left,
	.tix-private-form td.tix-left,
	.tix-attendee-form td.tix-left,
	.tix-receipt-form td.tix-left,
	.tix_invoice_table td.tix-left,
	.tix-ticket-form td.tix-right,
	.tix-private-form td.tix-right,
	.tix-attendee-form td.tix-right,
	.tix-receipt-form td.tix-right,
	.tix_invoice_table td.tix-right {
		width: 90% !important;
	}

	.tix-js .tix_tickets_table.tix-attendee-form .tix-right {
		padding-top: .5em !important;
	}

	.tix-js .tix_tickets_table.tix-attendee-form .tix-left,
					.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details .tix-left {
		text-align: left !important;
	}

	.tix-js .tix_tickets_table.tix-attendee-form .tix-right {
		padding-left: 20px;
	}

	.tix-ticket-form input[type="text"],
					.tix-ticket-form input[type="email"],
					.tix-ticket-form input[type="url"],
					.tix-ticket-form textarea,
					.tix-private-form input[type="text"],
					.tix-private-form input[type="email"],
					.tix-private-form input[type="url"],
					.tix-private-form textarea,
					.tix-attendee-form input[type="text"],
					.tix-attendee-form input[type="email"],
					.tix-attendee-form input[type="url"],
					.tix-attendee-form textarea,
					.tix-receipt-form input[type="text"],
					.tix-receipt-form input[type="email"],
					.tix-receipt-form input[type="url"],
					.tix-receipt-form textarea,
					.tix_invoice_table input[type="text"],
					.tix_invoice_table input[type="email"],
					.tix_invoice_table input[type="url"],
					.tix_invoice_table textarea {
		width: 100% !important;
	}

	tix-order-summary .tix-column-description {
		width: 80% !important;
	}

	.tix-js .tix_tickets_table.tix-attendee-form tbody td,
					.tix_tickets_table.tix-attendee-form tbody th {
		padding: 5px 0 !important;
	}

	.tix-attendee-form tr {
		padding-bottom: 40px !important;
	}

	.tix-left {
		font-weight: 600 !important;
	}
}

/* End of media rule @media (max-width:767px) */
.tix-js {
	font-size: 1.1em;
}

.tix-js .tix_tickets_table th,
.tix-js .tix_tickets_table td {
	padding: 5px 20px;
}

.tix-js .tix_tickets_table thead th {
	background-color: var( --wp--preset--color--custom-light-blue-primary );
	border: 1px solid var( --wp--preset--color--custom-light-blue-primary );
	font-weight: bold;
}

.tix-js .tix_tickets_table tbody .tix-ticket-title {
	font-weight: bold;
}

.tix-js .tix_tickets_table tbody th,
.tix-js .tix_tickets_table tbody td {
	border: 1px solid #ccc;
	text-align: center;
}

.tix-js .tix_tickets_table tbody .tix-column-price,
.tix-js .tix_tickets_table tbody .tix-column-remaining {
	font-weight: bold;
}

.tix-js .tix_tickets_table tbody .tix-column-quantity select {
	padding: 8px 7px;
}

.tix-js .tix_tickets_table.tix-order-summary {
	width: 100%;
	margin-top: 2rem;
}

.tix-js .tix_tickets_table.tix-order-summary .tix-row-total td:last-child {
	border-top: 1px solid gray;
}

.tix-js .tix_tickets_table.tix-order-summary tbody th,
.tix-js .tix_tickets_table.tix-attendee-form tbody th,
.tix-js .tix_tickets_table.tix-order-summary tbody td,
.tix-js .tix_tickets_table.tix-attendee-form tbody td {
	border: none;
	padding: 5px 20px;
}

.tix-js .tix_tickets_table tbody th,
.tix-js .tix_tickets_table th.tix-column-description {
	text-align: left;
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-left {
	text-align: right;
	padding-right: .5em;
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-right {
	text-align: left;
	padding-left: .5em;
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-left,
.tix-js .tix_tickets_table.tix-attendee-form .tix-right {
	padding-top: 1.5em;
/*! vertical-align: bottom; */
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-row-health-advisory .tix-left {
	text-align: left;
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-row-health-advisory .tix-left p {
	margin-bottom: 1em;
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-row-health-advisory .tix-left::after {
	content: none;
}

.tix-js .camptix-invoice-toggle-wrapper {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.tix-js .camptix-invoice-toggle-wrapper label {
	font-weight: bold;
}

.tix-js .camptix-invoice-toggle-wrapper table label {
	font-weight: normal;
}

.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details {
	width: 100%;
	margin-bottom: 2em;
}

.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details td {
	border: none;
}

.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details .tix-left {
	text-align: right;
	padding-right: .5em;
	width: 40%;
}

.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details .tix-right {
	text-align: left;
	padding-left: .5em;
	width: 60%;
}

.tix_invoice_table input[type="text"],
.tix_invoice_table input[type="email"],
.tix_invoice_table input[type="url"],
.tix_invoice_table textarea {
	width: 70%;
}

.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details .tix-left,
.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details .tix-right {
	padding-top: 1.5em;
	vertical-align: bottom;
}

.tix-js .tix-submit {
	display: block;
	margin-bottom: 3em;
}

.tix-js input[type='submit'],
.tix-checkout-button {
	font-size: 1.2rem;
	margin-top: 2rem;
	border: 2px solid var( --wp--preset--color--custom-light-blue-primary ) !important;
	padding: 15px 30px !important;
	background-color: var( --wp--preset--color--custom-light-blue-primary );
	color: #000;
	text-transform: uppercase;
	cursor: pointer;
}

.tix-js #tix-coupon-input {
	font-size: 1.2rem;
	padding: 13px;
}
/* END Camptix block - tickets page */


